nav {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

nav a:hover {
    color:white;
}

#background {
    background-image: url("background/4ce6e7cbea34f0254eb5b6a0666e78ae.jpg");
    background-size: 100% 900%;
    background-repeat: no-repeat;
}

#content {
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-weight: 300;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#content {
    margin-left: -760px;
    margin-top: 150px;
    font-size: 50px;
    font-weight:bold;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#desc {
    border-style: ridge;
    border-color: white;
    text-align: center;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
}

#tid {
    font-size: 15pt;
    color: tomato;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#gid {
    font-size: 20pt;
    color: coral;
    text-align: left;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#vid {
    font-size: 30pt;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#cid {
    font-size: 30pt;
    color: white;
    text-align: left;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#qid {
    font-size: 20pt;
    color: royalblue;
    text-align: left;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#xid {
    font-size: 30pt;
    color: black;
    text-align: left;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#uid {
    font-size: 15pt;
    color: black;
    text-align: left;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#hid {
    font-size: 20pt;
    color: black;
    text-align: left;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#zid {
    font-size: 20pt;
    text-align: right;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#footer {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#footer a:hover {
    color:black;
}

#tel a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#location a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#mail a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

.font1 {
    color: black;
    font-size: 20px;
    text-align: center;
}

.slogan {
    color: black;
    font-size: 30px;
    text-align: center;
}