nav {
    font-size: 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

#background {
    background-image: url("photos and videos/asoggetti-413830-unsplash-800x534.jpg");
    background-size: 1550px 720px;
    background-repeat: no-repeat;
}
#content {
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-weight: bold;
    color:black;

}

#desc {
    border-style: ridge;
    border-color: white;        
    text-align: center;
    font-size: 13pt;
}

#vid {
    font-size: 20pt;
    text-align: center;
    font-weight: bold;
}

#footer {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#tel a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#mail a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}
.font1 {
    color:black;
    font-size: 20px;
    text-align: center;
}