nav {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color:indigo;
}

#background {
    background-image: url("background/5e3se8zse2j41.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#content {
    text-align: center;
    margin-top: 150px;
    font-size: 50px;
    font-weight: 100%;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#desc {
    border-style: ridge;
    border-color: white;
    text-align: center;
    font-size: 13pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#footer a:hover {
    color:skyblue;
}

#tel a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#location a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#mail a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

.font1 {
    color: black;
    font-size: 20px;
    text-align: center;
}