nav {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    color:white
}

td{
    font-size: 15px;
}

#background {
    background-image: url("background/212-2125571_download-material-design-iphone-x.jpg");
    background-size: 100% 120%;
    background-repeat: no-repeat;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
}

#header {
    color:white;
}

table{
    margin: 25px 0;
    margin-top: 175px;
    margin-left: 200px;
    min-width: 500px;
    border-collapse: collapse;
}

thead tr {
    background-color: #009879;
    color:white;
    text-align: center;
}

th,td {
    padding:12px 15px;
    font-size: 14pt;
    text-align: center;
}

tbody tr:last-of-type {
    border-bottom: 4px solid #009879;
}

caption{
    font-size: 25px;
    
}

#desc {
    border-style: ridge;
    border-color: white;        
    text-align: center;
}

#footer {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#footer a:hover {
    color:black;
}

#location a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#tel a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#mail a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}
.font1 {
    color:black;
    font-size: 20px;
    text-align: center;
}