nav {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    color: black;
    text-decoration: none;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

nav a:hover {
    color:white;
}

td{
    font-size: 15px;
}

#background {
    background-image: url("background/5e3se8zse2j41.png");
    background-size: 120% 160%;
    background-repeat: no-repeat;
}

#content {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    color:white;
}

table{
    margin: 25px 0;
    margin-top: 175px;
    margin-left: 190px;
    min-width: 500px;
    border-collapse: collapse;
}

thead tr {
    background-color: #009879;
    color:white;
    text-align: center;
}

tbody tr:last-of-type {
    border-bottom: 4px solid #009879;
}

th,td {
    padding:12px 15px;
    font-size: 14pt;
    text-align: center;
}

caption{
    font-size: 25px;
}


#footer {
    background-color: #333333;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#footer a:hover {
    color:black;
}

#location a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#tel a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}

#mail a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-decoration: none;
    text-align: center;
}
